@model TuyenSinh.Model.Question
@{
    ViewData["Title"] = "Chi tiết tin";
}

<div class="bodycontent" style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="blog-posts single-post">
                    <article class="post clearfix mb-0">
                        <div class="entry-content">
                            <div class="entry-meta media no-bg no-border mt-15 pb-20">
                                <div class="media-body pl-15">
                                    <div class="event-content pull-left flip">
                                        <h3 class="entry-title text-white text-uppercase pt-0 mt-0" style="line-height: 1.42857143;">
                                            <!----><!---->
                                            <a style="color:black">@Model.Name</a>
                                        </h3>
                                        <!----><!---->
                                        <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-calendar" style="font-size:13px; width:13px; height:13px; margin-right:10px"></i>ngày @Model.CreateDate.Value.ToString("dd/MM/yyyy") </span>
                                    </div>
                                </div>
                            </div>
                            <div class="entry">
                                <div style="text-align:justify">
                                    <!----><!---->
                                    @Html.Raw(Model.Detail)
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "1759613197403378");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v11.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>DevExpress.aspnet.setTemplateEngine();</script><div id="dxPopupLoading"></div>
    <script type="text/html" id="dxPopupLoading-contentTemplate">
        <h2 style="text-align:center">Hệ thống đang xử lý.<br />Vui lòng đợi trong giây lát</h2>
        <div id="loader" class="loader"></div>
    </script>
    <script>jQuery(function ($) { $("#dxPopupLoading").dxPopup({ "elementAttr": { "class": "popup" }, "width": 600.0, "height": 225.0, "showTitle": false, "visible": false, "dragEnabled": false, "closeOnOutsideClick": false, "contentTemplate": $("#dxPopupLoading-contentTemplate") }); });</script>
</div>