@model TuyenSinh.Models.DangKyHocBaModel

@{
    ViewData["Title"] = "DangKyHocBa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" charset="utf-8">
                    $(document).ready(function () {
                        $("#province").on("change", function () {
                            var id = $("#province").val();
                            $.ajax({
                                url: "/get-district",
                                type: "GET",
                                data: { id: id },
                                success: function (result) {
                                    $("#district").html($('<option/>', { value: 0, text: '[Chọn Quận/Huyện]' }));
                                    $("#ward").html($('<option/>', { value: 0, text: '[Chọn Xã/Phường]' }));
                                    $.each(result, function (i, item) {
                                        $("#district").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                                    });
                                },
                                error: function (e) {
                                    alert(e);
                                }
                            });
                        });

                        $("#district").on("change", function () {
                            var id = $("#district").val();
                            $.ajax({
                                url: "/get-ward",
                                type: "GET",
                                data: { id: id },
                                success: function (result) {
                                    $("#ward").html($('<option/>', { value: 0, text: '[Chọn Xã/Phường]' }));
                                    $.each(result, function (i, item) {
                                        $("#ward").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                                    });
                                },
                                error: function (e) {
                                    alert(e);
                                }
                            });
                        });
                    });
</script>
<div id="toTop"></div>
<h3 style="text-align:center;color:blue;">
    ĐĂNG KÝ XÉT TUYỂN ĐẠI HỌC HỆ CHÍNH QUY NĂM 2022 <br /> BẰNG KẾT QUẢ HỌC TẬP THPT (HỌC BẠ THPT) <br />
</h3>
<div class="row" style="padding-top:10px">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel">
            <div class="panel-body">
                <form asp-action="DangKyHocBa" asp-controller="DangKy" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-12 col-md-12"><h3 style="color:red;">1. Thông tin cá nhân</h3></div>
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Họ và tên</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Số điện thoại</label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Ngày sinh</label>
                                <input asp-for="Dob" type="datetime-local" class="form-control" />
                                <span asp-validation-for="Dob" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Địa chỉ</label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Dân tộc:</label><br />
                                <select asp-for="NationId" class="form-control" asp-items="ViewBag.nationList"></select>
                                <span asp-validation-for="NationId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Giới tính</label>
                                <select class="form-control" asp-for="Gender">
                                    <option value="1" selected>Nam</option>
                                    <option value="0">Nữ</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label class="control-label">Số CMND/CCCD: </label>
                                <input asp-for="Cmnd" type="text" class="form-control" />
                                <span asp-validation-for="Cmnd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Tỉnh/thành phố:  </label>
                                <select asp-for="ProvinceId" class="form-control" asp-items="ViewBag.provinceList"></select>
                                <span asp-validation-for="ProvinceId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12"><h4>Thông tin liên hệ</h4></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Họ và tên</label>
                                <input asp-for="ContactName" class="form-control" />
                                <span asp-validation-for="ContactName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Số điện thoại</label>
                                <input asp-for="ContactPhone" class="form-control" />
                                <span asp-validation-for="ContactPhone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Địa chỉ</label>
                                <input asp-for="ContactAddress" class="form-control" />
                                <span asp-validation-for="ContactAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Số thẻ BHYT</label>
                                <input asp-for="ContactBhyt" type="number" class="form-control" />
                                <span asp-validation-for="ContactBhyt" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Đối tượng</label>
                                <select asp-for="ContactSubjectTo" class="form-control" asp-items="ViewBag.subjectList"></select>
                                <span asp-validation-for="ContactSubjectTo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-md-12"><h3 style="color:red;">2. Thông tin THPT hoặc tương đương</h3></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Mã tỉnh lớp 10:</label>
                                <select asp-for="Province10Id" class="form-control" asp-items="ViewBag.provinceList"></select>
                                <span asp-validation-for="Province10Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mã tỉnh lớp 11:</label>
                                <select asp-for="Province11Id" class="form-control" asp-items="ViewBag.provinceList"></select>
                                <span asp-validation-for="Province11Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mã tỉnh lớp 12:</label>
                                <select asp-for="Province12Id" class="form-control" asp-items="ViewBag.provinceList"></select>
                                <span asp-validation-for="Province12Id" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Năm tốt nghiệp</label>
                                <input asp-for="YearGraduation" class="form-control" />
                                <span asp-validation-for="YearGraduation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Điểm tốt nghiệp</label>
                                <input asp-for="Point" class="form-control" />
                                <span asp-validation-for="Point" class="text-danger"></span>
                            </div> <div class="form-group">
                                <label class="control-label">SBD kỳ thi THPT</label>
                                <input asp-for="Sbd" class="form-control" />
                                <span asp-validation-for="Sbd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Mã trường lớp 10: *</label>
                                <select asp-for="School10Id" class="form-control" asp-items="ViewBag.schoolList"></select>
                                <span asp-validation-for="School10Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mã trường lớp 11: *</label>
                                <select asp-for="School11Id" class="form-control" asp-items="ViewBag.schoolList"></select>
                                <span asp-validation-for="School11Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mã trường lớp 12: * </label>
                                <select asp-for="School12Id" class="form-control" asp-items="ViewBag.schoolList"></select>
                                <span asp-validation-for="School12Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Học lực:  </label>
                                <select asp-for="AbilityId" class="form-control" asp-items="ViewBag.abilityList"></select>
                                <span asp-validation-for="AbilityId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Hạnh kiểm:  </label>
                                <select asp-for="ConductId" class="form-control" asp-items="ViewBag.conductList"></select>
                                <span asp-validation-for="ConductId" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-12 col-md-12"><h3 style="color:red;">3. ĐIỂM TỔNG KẾT CÁC MÔN Ở BẬC THPT LỚP 12 (Thí sinh chỉ cần ghi các điểm thuộc tổ hợp xét tuyển mà mình lựa chọn)</h3></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">TB môn toán:</label>
                                <input asp-for="Math" class="form-control" />
                                <span asp-validation-for="Math" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">TB môn văn:</label>
                                <input asp-for="Literature" class="form-control" />
                                <span asp-validation-for="Literature" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">TB môn anh:</label>
                                <input asp-for="English" class="form-control" />
                                <span asp-validation-for="English" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">TB môn lý</label>
                                <input asp-for="Physics" class="form-control" />
                                <span asp-validation-for="Physics" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">TB môn hóa</label>
                                <input asp-for="Chemistry" class="form-control" />
                                <span asp-validation-for="Chemistry" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">TB môn sinh</label>
                                <input asp-for="Biology" class="form-control" />
                                <span asp-validation-for="Biology" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">TB môn sử</label>
                                <input asp-for="History" type="number" class="form-control" />
                                <span asp-validation-for="History" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">TB môn địa</label>
                                <input asp-for="Geography" type="number" class="form-control" />
                                <span asp-validation-for="Geography" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-md-12"><h4>File đính kèm hồ sơ THPT</h4></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Học bạ THPT: *</label>
                                <input asp-for="ScoreCardFile" type="file" class="form-control" />
                                <span>Cần 3 trang thông tin:Thông tin chung, Điểm tổng kết lớp 11 hoặc 12, Đánh giá kết quả rèn luyện của năm</span>
                                <span asp-validation-for="ScoreCardFile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Bằng tốt nghiệp/giấy CNTN: *</label>
                                <input asp-for="GraduationFile" type="file" class="form-control" />
                                <span asp-validation-for="GraduationFile" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 col-md-12"><h3 style="color:red;">4. THÔNG TIN ĐĂNG KÝ XÉT TUYỂN (Thí sinh phải tính điểm TBM học kỳ các môn ở bậc THPT trước khi chọn nguyện vọng)</h3></div>
                        <div class="col-md-2">
                            <div class="form-group" style=" margin-top: 35px;">
                                <label class="control-label">Nguyện vọng 1: * </label>
                            </div>
                            <div class="form-group" style=" margin-top: 48px;">
                                <label class="control-label">Nguyện vọng 2: * </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mã ngành:</label>
                                <select asp-for="Major1Id" class="form-control" asp-items="ViewBag.majorList"></select>
                                <span asp-validation-for="Major1Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mã ngành:</label>
                                <select asp-for="Major2Id" class="form-control" asp-items="ViewBag.majorList"></select>
                                <span asp-validation-for="Major2Id" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Tổ hợp:
                                </label>
                                <select asp-for="Combination1Id" class="form-control" asp-items="ViewBag.combinationList"></select>
                                <span asp-validation-for="Combination1Id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Tổ hợp:
                                </label>
                                <select asp-for="Combination2Id" class="form-control" asp-items="ViewBag.combinationList"></select>
                                <span asp-validation-for="Combination2Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Tổng điểm: </label>
                                <input asp-for="Point1" type="number" class="form-control" />
                                <span asp-validation-for="Point1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Tổng điểm: </label>
                                <input asp-for="Point2" type="number" class="form-control" />
                                <span asp-validation-for="Point2" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-12 col-md-12">
                            <div class="form-group" style="display: flex; align-items: center; justify-content: center; margin-top: 25px; }">
                                <input type="submit" value="Đăng ký" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <br />
                            <p style="text-align:match-parent;font-weight:bold">Tôi xin cam đoan những lời khai trong Phiếu ĐKXT này là đúng sự thật. Nếu sai, tôi xin chịu xử lý theo Quy chế Tuyển sinh đại học hệ chính quy hiện hành của Bộ Giáo dục và Đào tạo.</p>
                            <br />
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
